body{
  font-family: 'Roboto', sans-serif;
}
.header{
  background-color:#EEEFF1;
  padding-top: 79px;
  padding-bottom: 86px;
}
.container{
  max-width: 1110px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.logo{
  display: inline-block;
  width: 50px;
}

.nav{
  display:inline-block;
  width: calc(100% - 54px);
  text-align: right;
  font-size:0;
}

.list-item{
  display:inline;
  font-size: 16px;
  margin-left: 40px;

}
.info{
  padding:76px 0 146px ;
}

.info-photo{
  float: left;
}
.info-content{
  width: 550px;
  margin-left: auto;
}
.info-content h1{
  margin-bottom: 50px;
}
.info-content p{
  font-size: 16px;
  margin-bottom: 50px;
  color:#727272;
  width: 540px;
}
.btn{
  background: #34547A;
  border-radius: 0;
  width:224px;
  height: 65px;
  color:white;
  border:none;
  text-transform:uppercase;
}
.about{
  text-align: center;
  /* нужно отменять обтекаемость от флоата у последующего блока иначе ест ьвероятность что этот блок тоже начнет обтекать */
  clear: both;
}
.about h1{
  margin-bottom: 50px;
}
.about p{
  width:540px;
  margin:0 auto;
  margin-bottom: 57px;
}
.about img{
  width:1110px;
  height:600px;
}
